<main id="main" class="main my-5 py-5">
  <div class="container">
    <div class="student-detail">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-5">Student Detail</h1>
        </div>
        <div class="col-12" *ngIf="student">
          <div class="student py-3">
            <h2 class="m-0 text-success" style="font-size: 1.5rem;">Name: {{ student.name }}</h2>
            <h3 class="m-0 text-secondary border-bottom pb-3 text-danger" style="font-size: 1rem;">Course: {{ student.courseId }}</h3>
            <ul class="d-flex justify-content-between m-0 py-3 list-unstyled">
              <li>Age: {{ student.age }}</li>
              <li>Class: {{ student.class }}</li>
              <li>Section: {{ student.section }}</li>
            </ul>
            <address class="mb-3">Address: {{ student.address }}</address>
            <div class="d-flex justify-content-between border-top pt-4">
              <a routerLink="/students/edit-student/{{ student.id }}" href="javascript:void(0);" class="btn btn-sm btn-outline-primary fa fa-pencil">Edit</a>
              <a (click)="deleteStudent(student)" href="javascript:void(0);" class="btn btn-sm btn-outline-danger fas fa-cross">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
