<main id="main" class="main my-5 py-5">
  <div class="container">
    <div class="students">
      <div class="row">
        <div class="col-12 pb-5">
          <h1 class="m-0 float-left">{{ studentId ? 'Edit Student' : 'Add New Student' }}</h1>
        </div>
        <div class="col-12">
          <form class="row" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <div class="col-6">
              <div class="form-group">
                <label for="studentName">Name</label>
                <input type="text" formControlName="name" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!studentForm.get('name').value && studentForm.get('name').touched">
                    please provide the Student Name
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="studentAge">Age</label>
                <input type="text" formControlName="age" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!studentForm.get('age').value && studentForm.get('age').touched">
                    please provide the Student Age
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="studentClass">Class</label>
                <input type="text" formControlName="class" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!studentForm.get('class').value && studentForm.get('class').touched">
                    please provide the Student Class
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="studentSection">Section</label>
                <input type="text" formControlName="section" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!studentForm.get('section').value && studentForm.get('section').touched">
                    please provide the Student Class Section
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="studentSection">Course</label>
                <select class="form-control" formControlName="courseId" required>
                  <option id="none" hidden>Select Course</option>
                  <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.name }}</option>
                </select>
                <span
                  class="text-danger"
                  *ngIf="!studentForm.get('courseId').value && studentForm.get('courseId').touched">
                    please select the Course
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="studentAddress">Address</label>
                <input type="text" formControlName="address" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!studentForm.get('address').value && studentForm.get('address').touched">
                    please select the Course
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-block btn-outline-success">{{ studentId ? 'Save Student' : 'Add Student' }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
