<main id="main" class="main my-5 py-5">
  <div class="container">
    <div class="courses">
      <div class="row">
        <div class="col-12 pb-5">
          <h1 class="m-0">Add Course</h1>
        </div>
        <div class="col-12">
          <form class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="courseName">Name</label>
                <input type="text" name="courseName" id="courseName" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="courseDuration">Duration</label>
                <input type="text" name="courseDuration" id="courseDuration" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="courseFee">Fee</label>
                <input type="text" name="courseFee" id="courseFee" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="text" name="startDate" id="startDate" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-block btn-outline-success">Add Course</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
