<main id="main" class="main my-5 py-5">
  <div class="container">
    <div class="courses">
      <div class="row">
        <div class="col-12 pb-5">
          <h1 class="m-0">{{ courseId ? 'Edit Course' : 'Add Course' }}</h1>
          <p class="m-0">Form Status: {{ courseForm.status }}</p>
          <p class="m-0">Form Values: {{ courseForm.value | json }}</p>
        </div>
        <div class="col-12">
          <form class="row" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="col-6">
              <div class="form-group">
                <label for="courseName">Name</label>
                <input type="text" formControlName="name" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!courseForm.get('name').value && courseForm.get('name').touched">
                    please provide the Course Name
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="courseDuration">Duration</label>
                <input type="text" formControlName="duration" name="courseDuration" id="courseDuration" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!courseForm.get('duration').value && courseForm.get('duration').touched">
                    please provide the Course Duration
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="courseFee">Fee</label>
                <input type="text" formControlName="fee" name="courseFee" id="courseFee" class="form-control" required>
                <span
                  class="text-danger"
                  *ngIf="!courseForm.get('fee').value && courseForm.get('fee').touched">
                    please provide the Course Fee
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <div class="input-group">
                  <input class="form-control" formControlName="startDate" name="d2" ngbDatepicker #d2="ngbDatepicker" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                  </div>
                </div>
                <!-- <input type="date" formControlName="startDate" name="startDate" id="startDate" class="form-control" required> -->
                <span
                  class="text-danger"
                  *ngIf="!courseForm.get('startDate').value && courseForm.get('startDate').touched">
                    please provide the Course Start Date
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-block btn-outline-success">{{ courseId ? 'Save Course' : 'Add Course' }}</button>
                <!-- <button type="submit" class="btn btn-block btn-outline-success" [disabled]="!courseForm.valid">{{ courseId ? 'Save Course' : 'Add Course' }}</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
